/* Targeting anchor elements with hyperlinks */
a[href] {
  /* Styles for anchors containing hyperlinks */
}

/* Targeting the visited state for the link */
a[href]:visited {
  /* Styles for visited links */
  font-style: italic; /* Italicize the text */
}

/* Targeting the hover state for the link */
a[href]:hover {
  /* Styles for hovered links */
  text-decoration: underline; /* Decorate the links with an underline when hovering */
}

/* Targeting the active state for the link */
a[href]:active {
  /* Styles for active links */
  background-color: var(--color-light-grey); /* Set the color of the background with the variable color-light-grey */
}
